<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

    <div class="container b_home">
        <div id="b_header">
            <p class="p_span text-center" id="b_title">Here's what Dave has to say...</p>
            
            <div class="b_items">
                <% blogs.forEach(function(blog){ %>
                <ul class="list-group b_list text-center">
                    <li class="list-group-item item_title"><a><%= blog.title %></a></li>
                    <li class="list-group-item item_date float-left">
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                    </li>
                    <li class="list-group-item img-fluid item_img"><img src="<%= blog.image %>" width="325"></li>
                    <li class="list-group-item item_body"><p id="blog_body"><%= blog.body.substring(0, 30); %>...</p></li>
                    <li class="list-group-item item_more text-right"><a href="/blogs/<%=blog._id %>"  class="btn btn-outline-light btn-lg card_btn">Read more...</a></li>
                </ul>  
                <% }); %>
            </div>
        </div>   
    </div>
        
    <%- include("../partials/footer") %>





                



